<h1>Serviços</h1>

<table class="table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Setor</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.description %></td>
        <td><%= service.section.acronym %></td>
        <td>
          <%= link_to "Mostrar", service %>
          <%= link_to "Editar", edit_service_path(service) %>
          <%= button_to "Excluir", service, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "New service", new_service_path %>
