<h1>Serviços</h1>

<%= link_to "Novo serviço", new_service_path %>

<table class="table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Setor</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.description %></td>
        <td><%= service.section.acronym %></td>
        <td>
          <%= link_to edit_service_path(service) do %>
            <i class="fa fa-edit m-1"></i>
          <%end%>
          <%= link_to service, data: {turbo_method: "delete", turbo_confirm: 'Tem certeza?'} do %>
            <i class="fa fa-trash-o m-1"></i>
          <%end%>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


