<div id="<%= dom_id equipment %>">
  <p>
    <strong>Description:</strong>
    <%= equipment.description %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= equipment.manufacturer %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= equipment.model %>
  </p>

  <p>
    <strong>Serial number:</strong>
    <%= equipment.serial_number %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= equipment.client.name %>
    <strong>Divisão:</strong>
    <%= equipment.client.division %>
    <strong>Subdivisão:</strong>
    <%= equipment.client.subdivision %>
  </p>

</div>
