<%= form_with(model: equipment) do |form| %>
  <% if equipment.errors.any? %>
    <div style="color: red">   
      <ul>
        <% equipment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-2">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :manufacturer, style: "display: block" %>
    <%= form.text_field :manufacturer, class: "form-control" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :model, style: "display: block" %>
    <%= form.text_field :model, class: "form-control" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :serial_number, style: "display: block" %>
    <%= form.text_field :serial_number, class: "form-control" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :client_id, style: "display: block" %>
    <%= form.select(:client_id, @clients.map { |client| [client.name+' | '+client.division+' | '+client.subdivision, client.id] }, {}, class: "form-select") %>
  </div>


  <div class="form-group mb-2">
    <%= form.submit class:"btn btn-primary mb-2" %>
  </div>
<% end %>
