<h1>Equipmentos</h1>

<%= link_to "Novo equipmento", new_equipment_path %>

<table class="table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Fabricante</th>
      <th>Modelo</th>
      <th>Número Serial</th>
      <th>Cliente</th>
      <th>Divisão</th>
      <th>Subdivisão</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.description %></td>
        <td><%= equipment.manufacturer %></td>
        <td><%= equipment.model %></td>
        <td><%= equipment.serial_number %></td>
        <td><%= equipment.client.name %></td>
        <td><%= equipment.client.division %></td>
        <td><%= equipment.client.subdivision %></td>
        <td>
          <%= link_to "Mostrar", equipment %>
          <%= link_to "Editar", edit_equipment_path(equipment) %>
          <%= button_to "Excluir", equipment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


