<h1>Solicitantes</h1>

<%= link_to "Novo solicitante", new_client_path %>

<table class="table">
  <thead>
    <tr>
      <th><%=I18n.t('activerecord.attributes.client.name')%></th>
      <th><%=I18n.t('activerecord.attributes.client.division')%></th>
      <th><%=I18n.t('activerecord.attributes.client.subdivision')%></th>
      <th><%=I18n.t('activerecord.attributes.client.phone')%></th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.division %></td>
        <td><%= client.subdivision %></td>
        <td><%= client.phone %></td>
        <td>
          <%= link_to edit_client_path(client), class: "no-decoration" do %>
            <i class="fa fa-edit m-1"></i>
          <%end%>
          <%= link_to client, data: {turbo_method: "delete", turbo_confirm: 'Tem certeza?'}, class: "no-decoration" do %>
            <i class="fa fa-trash-o m-1"></i>
          <%end%>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>