<h1>Clientes</h1>

<%= link_to "New client", new_client_path %>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Divisão</th>
      <th>Subdivisão</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.division %></td>
        <td><%= client.subdivision %></td>
        <td>
          <%= link_to "Mostrar", client %>
          <%= link_to "Editar", edit_client_path(client) %>
          <%= button_to "Excluir", client, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>