<h1>Clientes</h1>

<%= link_to "Novo cliente", new_client_path %>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Divisão</th>
      <th>Subdivisão</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.division %></td>
        <td><%= client.subdivision %></td>
        <td>
          <%= link_to edit_client_path(client), class: "no-decoration" do %>
            <i class="fa fa-edit m-1"></i>
          <%end%>
          <%= link_to client, data: {turbo_method: "delete", turbo_confirm: 'Tem certeza?'}, class: "no-decoration" do %>
            <i class="fa fa-trash-o m-1"></i>
          <%end%>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>