<h1>Setores</h1>

<%= link_to "Novo setor", new_section_path %>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.name %></td>
        <td><%= section.acronym %></td>
        <td>
          <%= link_to edit_section_path(section) do %>
            <i class="fa fa-edit m-1"></i>
          <%end%>
          <%= link_to section, data: {turbo_method: "delete", turbo_confirm: 'Tem certeza?'} do %>
            <i class="fa fa-trash-o m-1"></i>
          <%end%>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


