<h1>Setores</h1>

<%= link_to "Novo setor", new_section_path %>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.name %></td>
        <td><%= section.acronym %></td>
        <td>
          <%= link_to "Mostrar", section %>
          <%= link_to "Editar", edit_section_path(section) %>
          <%= button_to "Excluir", section, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


