<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-2">
    <%= form.label :doc_type, style: "display: block" %>
    <%= form.text_field :doc_type, class: "form-control" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :doc_number, style: "display: block" %>
    <%= form.text_field :doc_number, class: "form-control" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :sigad, style: "display: block" %>
    <%= form.number_field :sigad, class: "form-control" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :nup, style: "display: block" %>
    <%= form.text_field :nup, class: "form-control" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group mb-2">
    <%= form.submit class:"btn btn-primary mb-2" %>
  </div>
<% end %>
