<div id="<%= dom_id order %>">
  <p>
    <strong>Tipo de Documento:</strong>
    <%= order.doc_type %>
  </p>

  <p>
    <strong>Número do Documento:</strong>
    <%= order.doc_number %>
  </p>

  <p>
    <strong>SIGAD:</strong>
    <%= order.sigad %>
  </p>

  <p>
    <strong>NUP:</strong>
    <%= order.nup %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= order.date %>
  </p>

</div>
