<div id="<%= dom_id order %>">
  <p>
    <strong>Doc type:</strong>
    <%= order.doc_type %>
  </p>

  <p>
    <strong>Doc number:</strong>
    <%= order.doc_number %>
  </p>

  <p>
    <strong>Sigad:</strong>
    <%= order.sigad %>
  </p>

  <p>
    <strong>Nup:</strong>
    <%= order.nup %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= order.date %>
  </p>

</div>
