
<h1>Pedidos</h1>

<%= link_to "Novo Pedido", new_order_path %>

<table class="table">
  <thead>
    <tr>
      <th>Documento</th>
      <th>Solicitante</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.doc_type%> <%= order.doc_number %></td>
        <td><%= order.order_items.first && order.order_items.first.equipment.client.name  %></td>
        <td><%= I18n.l order.date %></td>
        <td>
          <%= link_to order, class: "no-decoration" do %>
            <i class="fa fa-edit m-1"></i>
          <%end%>
          <%= link_to order_path(order), data: {turbo_method: "delete", turbo_confirm: 'Tem certeza?' }, class: "no-decoration" do %>
            <i class="fa fa-trash-o m-1"></i>
          <%end%>           
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


