<h1>Pedidos</h1>

<%= link_to "Novo Pedido", new_order_path %>

<table class="table">
  <thead>
    <tr>
      <th>Tipo de Documento</th>
      <th>Número do Documento</th>
      <th>SIGAD</th>
      <th>NUP</th>
      <th>Data</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.doc_type %></td>
        <td><%= order.doc_number %></td>
        <td><%= order.sigad %></td>
        <td><%= order.nup %></td>
        <td><%= I18n.l order.date %></td>
        <td>
          <%= link_to order do %>
            <i class="fa fa-edit m-1"></i>
          <%end%>
          <%= link_to order_path(order), data: {turbo_method: "delete", turbo_confirm: 'Tem certeza?' } do %>
            <i class="fa fa-trash-o m-1"></i>
          <%end%>           
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


