<p style="color: green"><%= notice %></p>

<%= render "order", order: @order %>

<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to orders", orders_path %>

  <%= button_to "Destroy this order", @order, method: :delete %>
</div>

  <% @order_items.each do |order_item|%>
    <p>    
      <%=order_item.service.description%>
      <%=order_item.service.section.acronym%>
      <%=order_item.status%>
    </p>
  <%end%>