<p style="color: green"><%= notice %></p>

<%= render "order", order: @order %>

<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to orders", orders_path %>

  <%= button_to "Destroy this order", @order, method: :delete %>

  <%= link_to "New order item", controller: "order_items", action: "new", order_id: @order.id %>

</div>

<table>
  <thead>
    <tr>
      <th>Equipamento</th>
      <th>S/N</th>
      <th>Descrição</th>
      <th>Setor</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.equipment.description %></td>
        <td><%= order_item.equipment.serial_number %></td>
        <td><%= order_item.service.description %></td>
        <td><%= order_item.service.section.acronym %></td>
        <td><%= order_item.status %></td>
        <td>
          <%= link_to "Edit", edit_order_item_path(order_item) %>
          <%= button_to "Destroy", order_item, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>