<div id="<%= dom_id order_item %>">
  <p>
    <strong>Pedido:</strong>
    <%= order_item.order_id %>
  </p>

  <p>
    <strong>Equipmento:</strong>
    <%= order_item.equipment_id %>
  </p>

  <p>
    <strong>Serviço:</strong>
    <%= order_item.service_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order_item.status %>
  </p>

  <p>
    <strong>Obs:</strong>
    <%= order_item.obs %>
  </p>

  <p>
    <strong>Acessórios:</strong>
    <%= order_item.accessories %>
  </p>

</div>
