<!DOCTYPE html>
<html>
  <head>
    <title>Calibração</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom_styles"%>

    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">      
        <li class="nav-item">
          <%= link_to "Pedidos", orders_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Equipamentos", equipment_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Relatório", reports_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Solicitantes", clients_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Serviços", services_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Imagens", images_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Setores", sections_path, class: "nav-link" %>
        </li>
      </ul>    
      <ul class="navbar-nav mr-auto">   
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      </ul>    
    </div>
  </nav>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div class="m-2">
      <%= yield%>
    </div>
  </body>
</html>
